@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px
}

h6 {
  font-size: 16px
}

:root {
  --font-color: #000;
  --link-color: #1C75B9;
  --link-white-color: #fff;
  --bg-color: white;
  --btn-bg-color: #f9f9f9;
}

[class="dark"] {
  --font-color: rgba(255, 255, 255, 0.87);
  --link-color: #0a86da;
  --link-color-hover: #535bf2;
  --link-white-color: #c1bfbd;
  --bg-color: #242424;
  --btn-bg-color: #1a1a1a;
  --table-border-color: #555;
  /* --p-datatable-border-color: white;
  --p-datatable-row-striped-background: white;
  --p-datatable-body-cell-selected-border-color: white; */
  --p-datatable-header-background: var(--bg-color) !important;
  --p-datatable-header-cell-background: var(--bg-color) !important;
  --p-datatable-row-background: var(--bg-color) !important;
  /* --p-datatable-row-color: white !important; */
  --p-datatable-body-cell-border-color: var(--table-border-color) !important;
  --p-datatable-header-cell-border-color: var(--table-border-color) !important
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}